body{
	background-image: url(IMA/fondo.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.contenedor{
	width:auto;
	max-width: auto;
	margin: auto;
	overflow: hidden;
	
}

p{ 
	color: #010001;
	font-size: 25px;
}


a{
	font-size: 20px;
}



h1 {color:#010001;
    font-weight: bold;
    font-size:40px;
    text-align: center
}

h2 {color: #010001;
    font-size:25px;
	font-weight: bold;
    text-align: center;	
}

h3 {
	color: rgb(251, 254, 255);
	text-align: center;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
}


#fecha{
	color: #121212;
	font-style: normal;
	font-weight: bolder;
    font-size:20px; 
    text-align: center;
	
}


legend{ 
	font-size: 23px;
	font-weight: bold;
}

#pie{
	background:linear-gradient(30deg, rgb(24, 0, 0),rgb(2, 2, 2), rgb(15, 15, 15)); 
	position:fixed;
	bottom: 0;
	width: 99%;
	height:auto;
	color: black;
	text-align: center;
}

.llamaahora{ 
	color: #fff;
    position: fixed;
	background: #fff;
	background-color: #000000;
	padding: 5px 5px;
	border: #010001;
	border-radius: 0%;
	text-decoration: underline;
	text-decoration-color:#fff;
    left: 3%;
	bottom: 135px;
}

.botonllamar1{ 
	font-size: 18px;
	color: #fff;
    position: fixed;
	background: #fff;
	background-color: #000000;
	padding: 1px 1px;
	border: #010001;
	border-radius: 0%;
	text-decoration: underline;
	text-decoration-color:#fff;
    left: .2%;
	bottom: 90px;
}

.botonllamar2{ 
	font-size: 18px;
	color: #fff;
    position: fixed;
	background: #fff;
	background-color: #000000;
	padding: 1px 1px;
	border: #010001;
	border-radius: 0%;
	text-decoration: underline;
	text-decoration-color:#fff;
    left: .2%;
	bottom: 45px;
}
.botonllamar1:hover{
	filter:blur(2px)
}
.botonllamar2:hover{	
	filter:blur(2px)
}




table{
    background-color: rgba(25, 26, 23, 0.281);
    border:1px solid rgb(41, 41, 41);
    margin: 0 auto;
    border-spacing: 1rem;
	text-align: center;
	font-size: 15px;
}

td{
    background-color: rgba(13, 14, 13, 0.119);
    padding: 1rem;
    border: 1px  solid rgb(41, 41, 41);
}


div{ 
	text-align: center;

}

#NAV{
    height:auto;
	position:fixed;
	width: 99%;
	background:linear-gradient(50deg, rgba(8, 5, 5, 0.877),rgb(10, 7, 7) );
    text-align: center;
	background-image: linear-gradient to bottom, #B22222, rgb(35, 35, 49);
	background-repeat: repeat-x;
}

#NAV UL{
    list-style: none;
    display: inline-block;
}

#NAV UL LI {
 	float: left;
    margin-top: 2px;
}

#NAV UL LI A {
  	color: rgb(252, 250, 250);
   	font-weight: bold;
  	text-decoration: none;
   	font-size: 18px;
   	padding:30px;
	margin: auto;
}

#NAV UL LI A:HOVER{
   	background-color: #f1e7e78a;
   	border-color: rgb(253, 252, 252);
}


#centrado {
	text-align: center;
}


form{
	background-image: url('Fond.jfif');
	margin: 5%,10%,10%,10%;
	border-color: aqua;
	
}




.container-boton{ 
	position: fixed;
	bottom: 50px;
	right: 20px;
	border-radius: 20%;	
}

.redes a{
	display: block;
    text-decoration: none;
	color: #fff;
	filter: blur(0px);
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 40%;
	box-shadow: 2px 2px 2px rgba(0,0,0,0);
	transition: all 500ms ease; 
}


.boton{
	width: 50px;
	border-radius: 30px;
	filter: blur(0px);
}

.boton:hover{
	filter: blur(2px);
}



.imagen{
	width:"270Px";
    height:"270Px"
}